@model AboutSection
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>



                <form method="post" class="forms-sample">
                    
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input class="form-control" asp-for="Title" id="fileInput">
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input class="form-control" asp-for="Description" id="fileInput">
                        <span asp-validation-for="Description"></span>
                    </div>



                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-dark" asp-controller="adminabout" asp-action="index">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>