@using BackendFinal.ViewModels
@model RegisterVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="register-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Creat New Account</h4>
                    <p class="mt-10">Already have an account? <a href="login.html">Log in instead!</a></p>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post">
                        <div class="single-form">
                            <input asp-for="Fullname" class="form-control form-control-lg" placeholder="Fullname">
                            <span asp-validation-for="Fullname"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="Username" class="form-control form-control-lg" placeholder="Username">
                            <span asp-validation-for="Username"></span>
                        </div>
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        

                        <div class="single-form">
                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Register</button>
                        </div>
                        <div class="text-center mt-4 font-weight-light">
                            Already have an account? <a asp-action="login" class="text-primary">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/hoverable-collapse.js"></script>
    <script src="~/admin/js/template.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
