@model BioVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>



                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input class="form-control" asp-for="Photo">
                        <span asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input class="form-control" asp-for="PhoneNumber">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input class="form-control" asp-for="Address">
                        <span asp-validation-for="Address"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkingTime"></label>
                        <input class="form-control" asp-for="WorkingTime">
                        <span asp-validation-for="WorkingTime"></span>
                    </div>




                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-dark" asp-controller="slider" asp-action="index">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>